*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/.idea
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
auth.json
_ide_helper.php
Thumbs.db
