APP_NAME="Web Haven Academy"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://example.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_PREFIX=bh_

SESSION_DRIVER=database
SESSION_LIFETIME=120

LEGACY_MD5_PASSWORDS=true
